@import 'md-color.less';

.container {
    width: 100vw;
    height: 100vh;
    flex-direction: row;
}

.title {
    margin-top: 10vh;
    margin-bottom: 8vh;
    color: @outline;
    font-size: 12vh;
    line-height: 15vh;
}

.loading {
    font-size: 12vh;
    text-align: center;
    color: @outline;
}

.link {
    margin: 0 1vh;
    color: @link;
    font-size: 10vh;
    text-decoration: underline;
}

.link:active {
    opacity: 0.6;
}